
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: lightgrey;
  text-align: center;
  font-family: sans-serif;

}
h1{
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}
.file-input{
  margin: 20px 0;
}

.file-input input{
  padding: 10px;
  border: 1px,solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.upload-button {
  background-color: blue;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  color: #ddd;
}

.upload-button:hover {
  background-color: darkcyan
}
.transcription-result{
  margin: 30px;
  text-align: center;
  color: black;
}

.transcription-result h2{
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
}

.transcription-result p{
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888; 
}
*/
